.btn {
    background: #2137fc;
    color: white;
    padding: 0.5rem;
    transition: all 0.1s;
    border: none;
    border-radius: 8px;
}

.btn:hover {
    background: #6b78fc;
}


.btn-flex {
    display: flex;
    gap: 1rem
}

textarea {
    border: 1px solid #bebebe;
    transition: all 0.1s;
    margin-bottom: 5px
}

textarea:focus {
    outline: 2px solid #2137fc;
}